<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='http://code.jquery.com/jquery-latest.min.js'></script>
    <script src='/javascripts/client.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <form onsubmit='request(); return false;'>
      <input type="text" id="q">
      <input type="submit" value="Search!">
    </form>
  </body>
</html>
